java_5774_1248_0915_ BackedDAOAdapters/xml-resources/web-service-references/java5773_1248_0915_WebServiceAdapter/wsdl/localhost_8080/java5774_1248_0915_WebService/java5773_1248_0915_WebServiceAdapter.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebService/" name="java5773_1248_0915_WebServiceAdapter">
<types>
<xsd:schema>
<xsd:import namespace="http://WebService/" schemaLocation="http://localhost:8080/java5774_1248_0915_WebService/java5773_1248_0915_WebServiceAdapter?xsd=1"/>
</xsd:schema>
</types>
<message name="AddNewCustomerCrd">
<part name="parameters" element="tns:AddNewCustomerCrd"/>
</message>
<message name="AddNewCustomerCrdResponse">
<part name="parameters" element="tns:AddNewCustomerCrdResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="DeleteCustomerCrd">
<part name="parameters" element="tns:DeleteCustomerCrd"/>
</message>
<message name="DeleteCustomerCrdResponse">
<part name="parameters" element="tns:DeleteCustomerCrdResponse"/>
</message>
<message name="UpdateActivity">
<part name="parameters" element="tns:UpdateActivity"/>
</message>
<message name="UpdateActivityResponse">
<part name="parameters" element="tns:UpdateActivityResponse"/>
</message>
<message name="UpdateCustomerCrd">
<part name="parameters" element="tns:UpdateCustomerCrd"/>
</message>
<message name="UpdateCustomerCrdResponse">
<part name="parameters" element="tns:UpdateCustomerCrdResponse"/>
</message>
<message name="GetAllOpenClaims">
<part name="parameters" element="tns:GetAllOpenClaims"/>
</message>
<message name="GetAllOpenClaimsResponse">
<part name="parameters" element="tns:GetAllOpenClaimsResponse"/>
</message>
<message name="GetAllCustemers">
<part name="parameters" element="tns:GetAllCustemers"/>
</message>
<message name="GetAllCustemersResponse">
<part name="parameters" element="tns:GetAllCustemersResponse"/>
</message>
<message name="GetAllPolicies">
<part name="parameters" element="tns:GetAllPolicies"/>
</message>
<message name="GetAllPoliciesResponse">
<part name="parameters" element="tns:GetAllPoliciesResponse"/>
</message>
<message name="GetPerPolicies">
<part name="parameters" element="tns:GetPerPolicies"/>
</message>
<message name="GetPerPoliciesResponse">
<part name="parameters" element="tns:GetPerPoliciesResponse"/>
</message>
<message name="GetMyEventClaims">
<part name="parameters" element="tns:GetMyEventClaims"/>
</message>
<message name="GetMyEventClaimsResponse">
<part name="parameters" element="tns:GetMyEventClaimsResponse"/>
</message>
<message name="GetMyStatusClaims">
<part name="parameters" element="tns:GetMyStatusClaims"/>
</message>
<message name="GetMyStatusClaimsResponse">
<part name="parameters" element="tns:GetMyStatusClaimsResponse"/>
</message>
<message name="GetMyTypePolicies">
<part name="parameters" element="tns:GetMyTypePolicies"/>
</message>
<message name="GetMyTypePoliciesResponse">
<part name="parameters" element="tns:GetMyTypePoliciesResponse"/>
</message>
<message name="GetMyPersonCstmrCrd">
<part name="parameters" element="tns:GetMyPersonCstmrCrd"/>
</message>
<message name="GetMyPersonCstmrCrdResponse">
<part name="parameters" element="tns:GetMyPersonCstmrCrdResponse"/>
</message>
<message name="GetPerClaims">
<part name="parameters" element="tns:GetPerClaims"/>
</message>
<message name="GetPerClaimsResponse">
<part name="parameters" element="tns:GetPerClaimsResponse"/>
</message>
<message name="UpdateClaim">
<part name="parameters" element="tns:UpdateClaim"/>
</message>
<message name="UpdateClaimResponse">
<part name="parameters" element="tns:UpdateClaimResponse"/>
</message>
<message name="UpdatePolicy">
<part name="parameters" element="tns:UpdatePolicy"/>
</message>
<message name="UpdatePolicyResponse">
<part name="parameters" element="tns:UpdatePolicyResponse"/>
</message>
<message name="GetAllClaims">
<part name="parameters" element="tns:GetAllClaims"/>
</message>
<message name="GetAllClaimsResponse">
<part name="parameters" element="tns:GetAllClaimsResponse"/>
</message>
<message name="DeletePolicy">
<part name="parameters" element="tns:DeletePolicy"/>
</message>
<message name="DeletePolicyResponse">
<part name="parameters" element="tns:DeletePolicyResponse"/>
</message>
<message name="DeleteClaim">
<part name="parameters" element="tns:DeleteClaim"/>
</message>
<message name="DeleteClaimResponse">
<part name="parameters" element="tns:DeleteClaimResponse"/>
</message>
<message name="GetPolicyById">
<part name="parameters" element="tns:GetPolicyById"/>
</message>
<message name="GetPolicyByIdResponse">
<part name="parameters" element="tns:GetPolicyByIdResponse"/>
</message>
<message name="AddNewPolicy">
<part name="parameters" element="tns:AddNewPolicy"/>
</message>
<message name="AddNewPolicyResponse">
<part name="parameters" element="tns:AddNewPolicyResponse"/>
</message>
<message name="AddNewClaim">
<part name="parameters" element="tns:AddNewClaim"/>
</message>
<message name="AddNewClaimResponse">
<part name="parameters" element="tns:AddNewClaimResponse"/>
</message>
<message name="UpdatePerson">
<part name="parameters" element="tns:UpdatePerson"/>
</message>
<message name="UpdatePersonResponse">
<part name="parameters" element="tns:UpdatePersonResponse"/>
</message>
<message name="GetClaimById">
<part name="parameters" element="tns:GetClaimById"/>
</message>
<message name="GetClaimByIdResponse">
<part name="parameters" element="tns:GetClaimByIdResponse"/>
</message>
<portType name="java5773_1248_0915_WebServiceAdapter">
<operation name="AddNewCustomerCrd">
<input wsam:Action="http://WebService/java5773_1248_0915_WebServiceAdapter/AddNewCustomerCrdRequest" message="tns:AddNewCustomerCrd"/>
<output wsam:Action="http://WebService/java5773_1248_0915_WebServiceAdapter/AddNewCustomerCrdResponse" message="tns:AddNewCustomerCrdResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/java5773_1248_0915_WebServiceAdapter/AddNewCustomerCrd/Fault/Exception"/>
</operation>
<operation name="DeleteCustomerCrd">
<input wsam:Action="http://WebService/java5773_1248_0915_WebServiceAdapter/DeleteCustomerCrdRequest" message="tns:DeleteCustomerCrd"/>
<output wsam:Action="http://WebService/java5773_1248_0915_WebServiceAdapter/DeleteCustomerCrdResponse" message="tns:DeleteCustomerCrdResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/java5773_1248_0915_WebServiceAdapter/DeleteCustomerCrd/Fault/Exception"/>
</operation>
<operation name="UpdateActivity">
<input wsam:Action="http://WebService/java5773_1248_0915_WebServiceAdapter/UpdateActivityRequest" message="tns:UpdateActivity"/>
<output wsam:Action="http://WebService/java5773_1248_0915_WebServiceAdapter/UpdateActivityResponse" message="tns:UpdateActivityResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/java5773_1248_0915_WebServiceAdapter/UpdateActivity/Fault/Exception"/>
</operation>
<operation name="UpdateCustomerCrd">
<input wsam:Action="http://WebService/java5773_1248_0915_WebServiceAdapter/UpdateCustomerCrdRequest" message="tns:UpdateCustomerCrd"/>
<output wsam:Action="http://WebService/java5773_1248_0915_WebServiceAdapter/UpdateCustomerCrdResponse" message="tns:UpdateCustomerCrdResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/java5773_1248_0915_WebServiceAdapter/UpdateCustomerCrd/Fault/Exception"/>
</operation>
<operation name="GetAllOpenClaims">
<input wsam:Action="http://WebService/java5773_1248_0915_WebServiceAdapter/GetAllOpenClaimsRequest" message="tns:GetAllOpenClaims"/>
<output wsam:Action="http://WebService/java5773_1248_0915_WebServiceAdapter/GetAllOpenClaimsResponse" message="tns:GetAllOpenClaimsResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/java5773_1248_0915_WebServiceAdapter/GetAllOpenClaims/Fault/Exception"/>
</operation>
<operation name="GetAllCustemers">
<input wsam:Action="http://WebService/java5773_1248_0915_WebServiceAdapter/GetAllCustemersRequest" message="tns:GetAllCustemers"/>
<output wsam:Action="http://WebService/java5773_1248_0915_WebServiceAdapter/GetAllCustemersResponse" message="tns:GetAllCustemersResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/java5773_1248_0915_WebServiceAdapter/GetAllCustemers/Fault/Exception"/>
</operation>
<operation name="GetAllPolicies">
<input wsam:Action="http://WebService/java5773_1248_0915_WebServiceAdapter/GetAllPoliciesRequest" message="tns:GetAllPolicies"/>
<output wsam:Action="http://WebService/java5773_1248_0915_WebServiceAdapter/GetAllPoliciesResponse" message="tns:GetAllPoliciesResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/java5773_1248_0915_WebServiceAdapter/GetAllPolicies/Fault/Exception"/>
</operation>
<operation name="GetPerPolicies">
<input wsam:Action="http://WebService/java5773_1248_0915_WebServiceAdapter/GetPerPoliciesRequest" message="tns:GetPerPolicies"/>
<output wsam:Action="http://WebService/java5773_1248_0915_WebServiceAdapter/GetPerPoliciesResponse" message="tns:GetPerPoliciesResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/java5773_1248_0915_WebServiceAdapter/GetPerPolicies/Fault/Exception"/>
</operation>
<operation name="GetMyEventClaims">
<input wsam:Action="http://WebService/java5773_1248_0915_WebServiceAdapter/GetMyEventClaimsRequest" message="tns:GetMyEventClaims"/>
<output wsam:Action="http://WebService/java5773_1248_0915_WebServiceAdapter/GetMyEventClaimsResponse" message="tns:GetMyEventClaimsResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/java5773_1248_0915_WebServiceAdapter/GetMyEventClaims/Fault/Exception"/>
</operation>
<operation name="GetMyStatusClaims">
<input wsam:Action="http://WebService/java5773_1248_0915_WebServiceAdapter/GetMyStatusClaimsRequest" message="tns:GetMyStatusClaims"/>
<output wsam:Action="http://WebService/java5773_1248_0915_WebServiceAdapter/GetMyStatusClaimsResponse" message="tns:GetMyStatusClaimsResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/java5773_1248_0915_WebServiceAdapter/GetMyStatusClaims/Fault/Exception"/>
</operation>
<operation name="GetMyTypePolicies">
<input wsam:Action="http://WebService/java5773_1248_0915_WebServiceAdapter/GetMyTypePoliciesRequest" message="tns:GetMyTypePolicies"/>
<output wsam:Action="http://WebService/java5773_1248_0915_WebServiceAdapter/GetMyTypePoliciesResponse" message="tns:GetMyTypePoliciesResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/java5773_1248_0915_WebServiceAdapter/GetMyTypePolicies/Fault/Exception"/>
</operation>
<operation name="GetMyPersonCstmrCrd">
<input wsam:Action="http://WebService/java5773_1248_0915_WebServiceAdapter/GetMyPersonCstmrCrdRequest" message="tns:GetMyPersonCstmrCrd"/>
<output wsam:Action="http://WebService/java5773_1248_0915_WebServiceAdapter/GetMyPersonCstmrCrdResponse" message="tns:GetMyPersonCstmrCrdResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/java5773_1248_0915_WebServiceAdapter/GetMyPersonCstmrCrd/Fault/Exception"/>
</operation>
<operation name="GetPerClaims">
<input wsam:Action="http://WebService/java5773_1248_0915_WebServiceAdapter/GetPerClaimsRequest" message="tns:GetPerClaims"/>
<output wsam:Action="http://WebService/java5773_1248_0915_WebServiceAdapter/GetPerClaimsResponse" message="tns:GetPerClaimsResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/java5773_1248_0915_WebServiceAdapter/GetPerClaims/Fault/Exception"/>
</operation>
<operation name="UpdateClaim">
<input wsam:Action="http://WebService/java5773_1248_0915_WebServiceAdapter/UpdateClaimRequest" message="tns:UpdateClaim"/>
<output wsam:Action="http://WebService/java5773_1248_0915_WebServiceAdapter/UpdateClaimResponse" message="tns:UpdateClaimResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/java5773_1248_0915_WebServiceAdapter/UpdateClaim/Fault/Exception"/>
</operation>
<operation name="UpdatePolicy">
<input wsam:Action="http://WebService/java5773_1248_0915_WebServiceAdapter/UpdatePolicyRequest" message="tns:UpdatePolicy"/>
<output wsam:Action="http://WebService/java5773_1248_0915_WebServiceAdapter/UpdatePolicyResponse" message="tns:UpdatePolicyResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/java5773_1248_0915_WebServiceAdapter/UpdatePolicy/Fault/Exception"/>
</operation>
<operation name="GetAllClaims">
<input wsam:Action="http://WebService/java5773_1248_0915_WebServiceAdapter/GetAllClaimsRequest" message="tns:GetAllClaims"/>
<output wsam:Action="http://WebService/java5773_1248_0915_WebServiceAdapter/GetAllClaimsResponse" message="tns:GetAllClaimsResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/java5773_1248_0915_WebServiceAdapter/GetAllClaims/Fault/Exception"/>
</operation>
<operation name="DeletePolicy">
<input wsam:Action="http://WebService/java5773_1248_0915_WebServiceAdapter/DeletePolicyRequest" message="tns:DeletePolicy"/>
<output wsam:Action="http://WebService/java5773_1248_0915_WebServiceAdapter/DeletePolicyResponse" message="tns:DeletePolicyResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/java5773_1248_0915_WebServiceAdapter/DeletePolicy/Fault/Exception"/>
</operation>
<operation name="DeleteClaim">
<input wsam:Action="http://WebService/java5773_1248_0915_WebServiceAdapter/DeleteClaimRequest" message="tns:DeleteClaim"/>
<output wsam:Action="http://WebService/java5773_1248_0915_WebServiceAdapter/DeleteClaimResponse" message="tns:DeleteClaimResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/java5773_1248_0915_WebServiceAdapter/DeleteClaim/Fault/Exception"/>
</operation>
<operation name="GetPolicyById">
<input wsam:Action="http://WebService/java5773_1248_0915_WebServiceAdapter/GetPolicyByIdRequest" message="tns:GetPolicyById"/>
<output wsam:Action="http://WebService/java5773_1248_0915_WebServiceAdapter/GetPolicyByIdResponse" message="tns:GetPolicyByIdResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/java5773_1248_0915_WebServiceAdapter/GetPolicyById/Fault/Exception"/>
</operation>
<operation name="AddNewPolicy">
<input wsam:Action="http://WebService/java5773_1248_0915_WebServiceAdapter/AddNewPolicyRequest" message="tns:AddNewPolicy"/>
<output wsam:Action="http://WebService/java5773_1248_0915_WebServiceAdapter/AddNewPolicyResponse" message="tns:AddNewPolicyResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/java5773_1248_0915_WebServiceAdapter/AddNewPolicy/Fault/Exception"/>
</operation>
<operation name="AddNewClaim">
<input wsam:Action="http://WebService/java5773_1248_0915_WebServiceAdapter/AddNewClaimRequest" message="tns:AddNewClaim"/>
<output wsam:Action="http://WebService/java5773_1248_0915_WebServiceAdapter/AddNewClaimResponse" message="tns:AddNewClaimResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/java5773_1248_0915_WebServiceAdapter/AddNewClaim/Fault/Exception"/>
</operation>
<operation name="UpdatePerson">
<input wsam:Action="http://WebService/java5773_1248_0915_WebServiceAdapter/UpdatePersonRequest" message="tns:UpdatePerson"/>
<output wsam:Action="http://WebService/java5773_1248_0915_WebServiceAdapter/UpdatePersonResponse" message="tns:UpdatePersonResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/java5773_1248_0915_WebServiceAdapter/UpdatePerson/Fault/Exception"/>
</operation>
<operation name="GetClaimById">
<input wsam:Action="http://WebService/java5773_1248_0915_WebServiceAdapter/GetClaimByIdRequest" message="tns:GetClaimById"/>
<output wsam:Action="http://WebService/java5773_1248_0915_WebServiceAdapter/GetClaimByIdResponse" message="tns:GetClaimByIdResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebService/java5773_1248_0915_WebServiceAdapter/GetClaimById/Fault/Exception"/>
</operation>
</portType>
<binding name="java5773_1248_0915_WebServiceAdapterPortBinding" type="tns:java5773_1248_0915_WebServiceAdapter">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="AddNewCustomerCrd">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="DeleteCustomerCrd">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="UpdateActivity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="UpdateCustomerCrd">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="GetAllOpenClaims">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="GetAllCustemers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="GetAllPolicies">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="GetPerPolicies">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="GetMyEventClaims">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="GetMyStatusClaims">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="GetMyTypePolicies">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="GetMyPersonCstmrCrd">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="GetPerClaims">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="UpdateClaim">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="UpdatePolicy">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="GetAllClaims">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="DeletePolicy">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="DeleteClaim">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="GetPolicyById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="AddNewPolicy">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="AddNewClaim">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="UpdatePerson">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="GetClaimById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="java5773_1248_0915_WebServiceAdapter">
<port name="java5773_1248_0915_WebServiceAdapterPort" binding="tns:java5773_1248_0915_WebServiceAdapterPortBinding">
<soap:address location="http://localhost:8080/java5774_1248_0915_WebService/java5773_1248_0915_WebServiceAdapter"/>
</port>
</service>
</definitions>