java_5774_1248_0915_ BackedDAOAdapters/xml-resources/web-service-references/java5773_1248_0915_WebServiceAdapter/wsdl/localhost_8080/java5774_1248_0915_WebService/java5773_1248_0915_WebServiceAdapter.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://WebService/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WebService/">

<xs:element name="AddNewClaim" type="tns:AddNewClaim"/>

<xs:element name="AddNewClaimResponse" type="tns:AddNewClaimResponse"/>

<xs:element name="AddNewCustomerCrd" type="tns:AddNewCustomerCrd"/>

<xs:element name="AddNewCustomerCrdResponse" type="tns:AddNewCustomerCrdResponse"/>

<xs:element name="AddNewPolicy" type="tns:AddNewPolicy"/>

<xs:element name="AddNewPolicyResponse" type="tns:AddNewPolicyResponse"/>

<xs:element name="DeleteClaim" type="tns:DeleteClaim"/>

<xs:element name="DeleteClaimResponse" type="tns:DeleteClaimResponse"/>

<xs:element name="DeleteCustomerCrd" type="tns:DeleteCustomerCrd"/>

<xs:element name="DeleteCustomerCrdResponse" type="tns:DeleteCustomerCrdResponse"/>

<xs:element name="DeletePolicy" type="tns:DeletePolicy"/>

<xs:element name="DeletePolicyResponse" type="tns:DeletePolicyResponse"/>

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="GetAllClaims" type="tns:GetAllClaims"/>

<xs:element name="GetAllClaimsResponse" type="tns:GetAllClaimsResponse"/>

<xs:element name="GetAllCustemers" type="tns:GetAllCustemers"/>

<xs:element name="GetAllCustemersResponse" type="tns:GetAllCustemersResponse"/>

<xs:element name="GetAllOpenClaims" type="tns:GetAllOpenClaims"/>

<xs:element name="GetAllOpenClaimsResponse" type="tns:GetAllOpenClaimsResponse"/>

<xs:element name="GetAllPolicies" type="tns:GetAllPolicies"/>

<xs:element name="GetAllPoliciesResponse" type="tns:GetAllPoliciesResponse"/>

<xs:element name="GetClaimById" type="tns:GetClaimById"/>

<xs:element name="GetClaimByIdResponse" type="tns:GetClaimByIdResponse"/>

<xs:element name="GetMyEventClaims" type="tns:GetMyEventClaims"/>

<xs:element name="GetMyEventClaimsResponse" type="tns:GetMyEventClaimsResponse"/>

<xs:element name="GetMyPersonCstmrCrd" type="tns:GetMyPersonCstmrCrd"/>

<xs:element name="GetMyPersonCstmrCrdResponse" type="tns:GetMyPersonCstmrCrdResponse"/>

<xs:element name="GetMyStatusClaims" type="tns:GetMyStatusClaims"/>

<xs:element name="GetMyStatusClaimsResponse" type="tns:GetMyStatusClaimsResponse"/>

<xs:element name="GetMyTypePolicies" type="tns:GetMyTypePolicies"/>

<xs:element name="GetMyTypePoliciesResponse" type="tns:GetMyTypePoliciesResponse"/>

<xs:element name="GetPerClaims" type="tns:GetPerClaims"/>

<xs:element name="GetPerClaimsResponse" type="tns:GetPerClaimsResponse"/>

<xs:element name="GetPerPolicies" type="tns:GetPerPolicies"/>

<xs:element name="GetPerPoliciesResponse" type="tns:GetPerPoliciesResponse"/>

<xs:element name="GetPolicyById" type="tns:GetPolicyById"/>

<xs:element name="GetPolicyByIdResponse" type="tns:GetPolicyByIdResponse"/>

<xs:element name="UpdateActivity" type="tns:UpdateActivity"/>

<xs:element name="UpdateActivityResponse" type="tns:UpdateActivityResponse"/>

<xs:element name="UpdateClaim" type="tns:UpdateClaim"/>

<xs:element name="UpdateClaimResponse" type="tns:UpdateClaimResponse"/>

<xs:element name="UpdateCustomerCrd" type="tns:UpdateCustomerCrd"/>

<xs:element name="UpdateCustomerCrdResponse" type="tns:UpdateCustomerCrdResponse"/>

<xs:element name="UpdatePerson" type="tns:UpdatePerson"/>

<xs:element name="UpdatePersonResponse" type="tns:UpdatePersonResponse"/>

<xs:element name="UpdatePolicy" type="tns:UpdatePolicy"/>

<xs:element name="UpdatePolicyResponse" type="tns:UpdatePolicyResponse"/>

<xs:complexType name="GetClaimById">
<xs:sequence>
<xs:element name="arg0" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetClaimByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:claim" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="claim">
<xs:complexContent>
<xs:extension base="tns:activity">
<xs:sequence>
<xs:element name="documentsReceived" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="documentsRequired" type="tns:documents" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="eventPlace" type="xs:string" minOccurs="0"/>
<xs:element name="eventTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="eventType" type="tns:evntType" minOccurs="0"/>
<xs:element name="insuranceClaimStatus" type="tns:claimStat" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="activity">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="openingDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="representativeName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="UpdateClaim">
<xs:sequence>
<xs:element name="arg0" type="tns:claim" minOccurs="0"/>
<xs:element name="arg1" type="tns:person" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="person">
<xs:sequence>
<xs:element name="addressPerson" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="namePerson" type="xs:string" minOccurs="0"/>
<xs:element name="phonePerson" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="UpdateClaimResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="AddNewPolicy">
<xs:sequence>
<xs:element name="arg0" type="tns:policy" minOccurs="0"/>
<xs:element name="arg1" type="tns:person" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="policy">
<xs:complexContent>
<xs:extension base="tns:activity">
<xs:sequence>
<xs:element name="insuranceCompany" type="tns:insrncCmpny" minOccurs="0"/>
<xs:element name="policyRate" type="xs:float"/>
<xs:element name="policyType" type="tns:plicyType" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="AddNewPolicyResponse">
<xs:sequence>
<xs:element name="return" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetAllPolicies">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="GetAllPoliciesResponse">
<xs:sequence>
<xs:element name="return" type="tns:policy" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetMyEventClaims">
<xs:sequence>
<xs:element name="arg0" type="tns:evntType" minOccurs="0"/>
<xs:element name="arg1" type="tns:person" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetMyEventClaimsResponse">
<xs:sequence>
<xs:element name="return" type="tns:claim" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="UpdateActivity">
<xs:sequence>
<xs:element name="arg0" type="tns:activity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="UpdateActivityResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="DeletePolicy">
<xs:sequence>
<xs:element name="arg0" type="tns:policy" minOccurs="0"/>
<xs:element name="arg1" type="tns:person" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DeletePolicyResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AddNewCustomerCrd">
<xs:sequence>
<xs:element name="arg0" type="tns:customerCrd" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="customerCrd">
<xs:sequence>
<xs:element name="activities" type="tns:activity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="person" type="tns:person" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AddNewCustomerCrdResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetAllCustemers">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="GetAllCustemersResponse">
<xs:sequence>
<xs:element name="return" type="tns:customerCrd" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetPerPolicies">
<xs:sequence>
<xs:element name="arg0" type="tns:person" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetPerPoliciesResponse">
<xs:sequence>
<xs:element name="return" type="tns:policy" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="UpdatePerson">
<xs:sequence>
<xs:element name="arg0" type="tns:person" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="UpdatePersonResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="GetAllOpenClaims">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="GetAllOpenClaimsResponse">
<xs:sequence>
<xs:element name="return" type="tns:claim" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetPolicyById">
<xs:sequence>
<xs:element name="arg0" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetPolicyByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:policy" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="UpdatePolicy">
<xs:sequence>
<xs:element name="arg0" type="tns:policy" minOccurs="0"/>
<xs:element name="arg1" type="tns:person" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="UpdatePolicyResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="GetPerClaims">
<xs:sequence>
<xs:element name="arg0" type="tns:person" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetPerClaimsResponse">
<xs:sequence>
<xs:element name="return" type="tns:claim" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetMyPersonCstmrCrd">
<xs:sequence>
<xs:element name="arg0" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetMyPersonCstmrCrdResponse">
<xs:sequence>
<xs:element name="return" type="tns:customerCrd" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetMyStatusClaims">
<xs:sequence>
<xs:element name="arg0" type="tns:claimStat" minOccurs="0"/>
<xs:element name="arg1" type="tns:person" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetMyStatusClaimsResponse">
<xs:sequence>
<xs:element name="return" type="tns:claim" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DeleteCustomerCrd">
<xs:sequence>
<xs:element name="arg0" type="tns:customerCrd" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DeleteCustomerCrdResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="DeleteClaim">
<xs:sequence>
<xs:element name="arg0" type="tns:claim" minOccurs="0"/>
<xs:element name="arg1" type="tns:person" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DeleteClaimResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetAllClaims">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="GetAllClaimsResponse">
<xs:sequence>
<xs:element name="return" type="tns:claim" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AddNewClaim">
<xs:sequence>
<xs:element name="arg0" type="tns:claim" minOccurs="0"/>
<xs:element name="arg1" type="tns:person" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AddNewClaimResponse">
<xs:sequence>
<xs:element name="return" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="UpdateCustomerCrd">
<xs:sequence>
<xs:element name="arg0" type="tns:customerCrd" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="UpdateCustomerCrdResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="GetMyTypePolicies">
<xs:sequence>
<xs:element name="arg0" type="tns:plicyType" minOccurs="0"/>
<xs:element name="arg1" type="tns:person" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetMyTypePoliciesResponse">
<xs:sequence>
<xs:element name="return" type="tns:policy" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="documents">
<xs:restriction base="xs:string">
<xs:enumeration value="IDPhoto"/>
<xs:enumeration value="DriverLicense"/>
<xs:enumeration value="VehicleLicense"/>
<xs:enumeration value="ReferenceAppraisers"/>
<xs:enumeration value="ConsentForm"/>
<xs:enumeration value="GeneralReference"/>
<xs:enumeration value="MedicalReview"/>
<xs:enumeration value="ReferenceFromEmployer"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="evntType">
<xs:restriction base="xs:string">
<xs:enumeration value="Vehicle"/>
<xs:enumeration value="Work"/>
<xs:enumeration value="Personally"/>
<xs:enumeration value="Health"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="claimStat">
<xs:restriction base="xs:string">
<xs:enumeration value="Treatment"/>
<xs:enumeration value="Confirmed"/>
<xs:enumeration value="Deferred"/>
<xs:enumeration value="SeeInMoreDetails"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="insrncCmpny">
<xs:restriction base="xs:string">
<xs:enumeration value="Migdal"/>
<xs:enumeration value="Shomera"/>
<xs:enumeration value="Feinx"/>
<xs:enumeration value="Ayalon"/>
<xs:enumeration value="Tzion"/>
<xs:enumeration value="Harel"/>
<xs:enumeration value="Achara"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="plicyType">
<xs:restriction base="xs:string">
<xs:enumeration value="CompulsoryInsurance"/>
<xs:enumeration value="ThirdParty"/>
<xs:enumeration value="Comprehensive"/>
<xs:enumeration value="PersonalAccident"/>
<xs:enumeration value="InsuranceExecutives"/>
<xs:enumeration value="WorkAccidents"/>
<xs:enumeration value="LifeInsurance"/>
<xs:enumeration value="HealthInsurance"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>